* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.calculator{
    width: 100%;
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #f1f1f1;
    color: #000000;
    text-align: left;
}

.body {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    width: 300px;
    border: 2px solid black;
    background: rgba(140, 171, 190, 0.25);
}

.screen{
    border-radius: 5px 5px 0 0;
    background: #ffffff;
    font-size: bolder;
    width: 290px;
    border: 1px solid black;
    font-size: 40px;
    text-align: right;
    margin: 0 auto;
    margin-top: 5px;
    padding: 5px;

}

.button-size {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    border: 0;
    font-size: 20px;
    background: rgba(112, 128, 144, 0.7);
}
.button-size:hover{
    background: rgb(112, 128, 144);
}
.key-hover{
    background: rgb(112, 128, 144);
}

.zero-size{
    font-size: 20px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
    width: 128px;
    height: 50px;
    border-radius: 40px;
    border: 0;
    background: slategray;
}

.execute__button {
    margin-top: 5px;
    margin-left: 25px;
    width: 50px;
    height: 230px;
    outline: none;
    border: 0;
    background: rgba(255, 123, 0, 0.8);
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
}
.execute__button:hover{
    background: rgb(255, 123, 0)
}

.action{
    background: rgba(255, 123, 0, 0.8);
}
.action:hover{
    background: rgb(255, 123, 0);
}
#c{
    background: #963;
}
#c:hover{
    background: rgb(173, 3, 3);
    color: #ffffff;
}

.keys {
    display: flex;
    flex-wrap: wrap;

}
.actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.numbers{
    display: flex;
    width: calc(100% - 80px);
    flex-wrap: wrap;
    justify-content: space-between;

}

.solar {
    border: 2px solid silver;
    width: 45%;
    height: 30px;
    background: rgba(107, 72, 8, 0.959);
    margin: 5px;
    margin-left: 180px;
    display: flex;
    align-self: flex-end;
}
.solar__line{
    width: 25%;
    border-right: 2px solid black;
}